
<footer>
	<p><strong>{{ site.author }}</strong> alias <strong>{{ site.alias }}</strong></p>
	<ul>
{% if site.facebook_username %}
		<li><a class="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" title="{{ site.alias }} sur Facebook (nouvelle fenêtre)"><span class="sr-only">Facebook</span></a></li>
{% endif %}
{% if site.mastodon_username %}
		<li><a class="mastodon" href="https://mamot.fr/@{{ site.mastodon_username }}" target="_blank" title="{{ site.alias }} sur Mastodon (nouvelle fenêtre)"><span class="sr-only">Mastodon</span></a></li>
{% endif %}
{% if site.pixelfed_username %}
		<li><a class="pixelfed" href="https://pixelfed.social/@{{ site.pixelfed_username }}" target="_blank" title="{{ site.alias }} sur Pixelfed (nouvelle fenêtre)"><span class="sr-only">Pixelfed</span></a></li>
{% endif %}
{% if site.instagram_username %}
		<li><a class="instagram" href="http://instagram.com/{{ site.instagram_username }}" target="_blank" title="{{ site.alias }} sur Instagram (nouvelle fenêtre)"><span class="sr-only">Instagram</span></a></li>
{% endif %}
{% if site.linkedin_username %}
		<li><a class="linkedin" href="http://fr.linkedin.com/in/{{ site.linkedin_username }}/" target="_blank" title="{{ site.alias }} sur LinkedIn (nouvelle fenêtre)"><span class="sr-only">LinkedIn</span></a></li>
{% endif %}
{% if site.github_username %}
		<li><a class="github" href="http://github.com/{{ site.github_username }}/" target="_blank" title="{{ site.alias }} sur Github (nouvelle fenêtre)"><span class="sr-only">Github</span></a></li>
{% endif %}
{% if site.blog_url %}
		<li><a class="blog" href="{{ site.blog_url }}" target="_blank" title="Le blog du {{ site.alias }} (nouvelle fenêtre)"><span class="sr-only">{{ site.blog_url | remove: "https://www." }}</span></a></li>
{% endif %}
	</ul>
</footer>

<script>
var grid = document.querySelector('.grid');
var contenu = document.querySelector('#content');
var labels = document.querySelectorAll('fieldset label');

var sort = document.querySelectorAll('input[name=sort]');
var tags = document.querySelectorAll('input[name=tag]');
var channels = document.querySelectorAll('input[name=channel]');
var liens = document.querySelectorAll('.card a');

var is_mobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
var transformsEnabledValue = (is_mobile) ? true : false;

// Gérer le tri

var sortValue = document.querySelector('input[name=sort]:checked').value
contenu.dataset.tri = sortValue;

function sortCards(sortValue) {
		contenu.dataset.tri = sortValue;
		if (sortValue=="random") {
			iso.shuffle();
		} else {
			iso.arrange({ sortBy: sortValue });
		}
{% if site.matomo %}
		_paq.push(["trackEvent", "Isotope", "Trier", sortValue]);
{% endif %}
}

for (var i = 0 ; i < sort.length ; i++) {
	sort[i].addEventListener("change", (event) => {
		sortValue = event.target.value;
		sortCards(sortValue);
	});
};

// Filrer par tags ou par channels

function getFilter(tagValue, channelValue) {
	if (tagValue=="all") {
		if (channelValue=="all") {
			filterValue = "";
		} else {
			filterValue = "."+channelValue;
		}
	} else {
		if (channelValue=="all") {
			filterValue = "."+tagValue;
		}	else {
			filterValue = "."+tagValue+"."+channelValue;
		}
	}
	return filterValue;
}
var tagValue = document.querySelector('input[name=tag]:checked').value
var channelValue = document.querySelector('input[name=channel]:checked').value
filterValue = getFilter(tagValue,channelValue);
contenu.dataset.sel = filterValue;

function filterCards(tagValue, channelValue) {
	filterValue = getFilter(tagValue,channelValue);
	contenu.dataset.sel = filterValue;
	iso.arrange({ filter: filterValue });
{% if site.matomo %}
		_paq.push(["trackEvent", "Isotope", "Filtrer", filterValue]);
{% endif %}
}

for (var i = 0 ; i < tags.length ; i++) {
	tags[i].addEventListener("change", (event) => {
		tagValue = event.target.value;
		filterCards(tagValue,channelValue);
	});
};
for (var i = 0 ; i < channels.length ; i++) {
	channels[i].addEventListener("change", (event) => {
		channelValue = event.target.value;
		console.log( channelValue );
		filterCards(tagValue,channelValue);
	});
};

// Cocher les input/radio avec leurs labels associés
for (var i = 0 ; i < labels.length ; i++) {
	labels[i].addEventListener('keydown', function(event) {
  	if (event.code == 'Enter') {
  		inputName = event.target.getAttribute('for');
  		document.getElementById( inputName ).checked = true;
			switch ( document.getElementById( inputName ).getAttribute('name') ) {
  			case 'sort':
    			sortCards(inputName);
    			break;
  			case 'tag':
    			filterCards(inputName,channelValue);
    			break;
  			case 'channel':
    			filterCards(tagValue,inputName);
    			break;
			}
  	}
	});
};

// Isotope

var iso = new Isotope( grid, {
  // options
  itemSelector: '.grid-item',
  layoutMode: "masonry",
  filter: filterValue,
  sortBy: sortValue,
  transformsEnabled: transformsEnabledValue,
  sortAscending: false,
  getSortData: {
      date: "[data-date]"
  }
});

imagesLoaded( grid, function() {iso.layout();});

<!-- Matomo -->
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.6x8.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
<!-- End Matomo Code -->

// Liens
//liens.forEach(function(element, index) {
// forEach ne fonctionne pas avec IE11
for (var i = 0 ; i < liens.length ; i++) {
	liens[i].addEventListener('focus', function(event) {
		liens[i].parentNode.parentNode.parentNode.classList.add("hover");
	});
	liens[i].addEventListener('blur', function(event) {
		liens[i].parentNode.parentNode.parentNode.classList.remove("hover");
	});
	liens[i].addEventListener('click', function(event) {
		linkValue = liens[i].href;
{% if site.matomo %}
		_paq.push(["trackEvent", "Isotope", "Lien", linkValue]);
{% endif %}
	});
};

// Window resize
window.addEventListener('resize', iso.layout() );

</script>