
<footer>
	<p><strong>{{ site.author }}</strong> alias <strong>{{ site.alias }}</strong></p>
	<ul>
{% if site.facebook_username %}
		<li><a class="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" title="{{ site.alias }} sur Facebook (nouvelle fenêtre)"><span class="sr-only">Facebook</span></a></li>
{% endif %}
{% if site.mastodon_username %}
		<li><a class="mastodon" href="https://mamot.fr/@{{ site.mastodon_username }}" target="_blank" title="{{ site.alias }} sur Mastodon (nouvelle fenêtre)"><span class="sr-only">Mastodon</span></a></li>
{% endif %}
{% if site.twitter_username %}
		<li><a class="twitter" href="https://twitter.com/{{ site.twitter_username }}/" target="_blank" title="{{ site.alias }} sur Twitter (nouvelle fenêtre)"><span class="sr-only">Twitter</span></a></li>
{% endif %}
{% if site.instagram_username %}
		<li><a class="instagram" href="http://instagram.com/{{ site.instagram_username }}" target="_blank" title="{{ site.alias }} sur Instagram (nouvelle fenêtre)"><span class="sr-only">Instagram</span></a></li>
{% endif %}
{% if site.linkedin_username %}
		<li><a class="linkedin" href="http://fr.linkedin.com/in/{{ site.linkedin_username }}/" target="_blank" title="{{ site.alias }} sur LinkedIn (nouvelle fenêtre)"><span class="sr-only">LinkedIn</span></a></li>
{% endif %}
{% if site.github_username %}
		<li><a class="github" href="http://github.com/{{ site.github_username }}/" target="_blank" title="{{ site.alias }} sur Github (nouvelle fenêtre)"><span class="sr-only">Github</span></a></li>
{% endif %}
{% if site.blog_url %}
		<li><a class="blog" href="{{ site.blog_url }}" target="_blank" title="Le blog du {{ site.alias }} (nouvelle fenêtre)"><span class="sr-only">{{ site.blog_url | remove: "https://www." }}</span></a></li>
{% endif %}
	</ul>
</footer>

<script>
var grid = document.querySelector('.grid');
var contenu = document.querySelector('#content');
var tags = document.querySelectorAll('#tags a');
var sort = document.querySelectorAll('#sort a');
var liens = document.querySelectorAll('.card a');

var is_mobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
var transformsEnabledValue = (is_mobile) ? true : false;

function getVar(key, default_) {
	if (default_==null) default_=0;
	key = key.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
	var regex = new RegExp("[\\?&#]"+key+"=([^&#]*)");
	var qs = regex.exec(window.location.href);
	if(qs == null) return default_; else return qs[1];
}
var tagValue = getVar("tag");
if (tagValue==0) {
	tagValue = "all";
}
contenu.dataset.sel = tagValue;;
document.querySelector('#tags a.sel').classList.remove("sel")
document.querySelector('#tags a#'+tagValue).classList.add("sel")

var sortValue = getVar("tri");
if (sortValue==0) {
	sortValue = "date";
}
contenu.dataset.tri = sortValue;
document.querySelector('#sort a.sel').classList.remove("sel")
document.querySelector('#sort a#'+sortValue).classList.add("sel")

var iso = new Isotope( grid, {
  // options
  itemSelector: '.grid-item',
  layoutMode: "masonry",
  filter: ((tagValue=="all") ? "" : "."+tagValue ),
  sortBy: sortValue,
  transformsEnabled: transformsEnabledValue,
  sortAscending: false,
  getSortData: {
      date: "[data-date]"
  }
});

imagesLoaded( grid, function() {iso.layout();});

{% if site.matomo %}

<!-- Matomo -->
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="{{ site.matomoUrl }}";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '{{ site.matomoSiteId }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
<!-- End Matomo Code -->
	
{% endif %}

// Filtrer
//tags.forEach(function(element, index) {
// forEach ne fonctionne pas avec IE11
for (var i = 0 ; i < tags.length ; i++) {
	tags[i].addEventListener('click', event => {
		event.preventDefault()
		tagValue = element.id;
		contenu.dataset.sel = tagValue;
		document.querySelector('#tags a.sel').classList.remove("sel")
		document.querySelector('#tags a#'+tagValue).classList.add("sel")
		if (tagValue=="all") {
			tagValue = "";
		} else {
			tagValue = "." + tagValue;
		}
		iso.arrange({ filter: tagValue });
{% if site.matomo %}
		_paq.push(["trackEvent", "Isotope", "Filtrer", tagValue]);
{% endif %}
	});
});

// Trier
//sort.forEach(function(element, index) {
// forEach ne fonctionne pas avec IE11
for (var i = 0 ; i < sort.length ; i++) {
	sort[i].addEventListener('click', event => {
		event.preventDefault()
		sortValue = element.id;
		contenu.dataset.tri = sortValue;
		document.querySelector('#sort a.sel').classList.remove("sel")
		document.querySelector('#sort a#'+sortValue).classList.add("sel")
		if (sortValue=="random") {
			iso.shuffle();
		} else {
			iso.arrange({ sortBy: sortValue });
		}
{% if site.matomo %}
		_paq.push(["trackEvent", "Isotope", "Trier", tagValue]);
{% endif %}
	});
});

// Liens
//liens.forEach(function(element, index) {
// forEach ne fonctionne pas avec IE11
for (var i = 0 ; i < liens.length ; i++) {
	liens[i].addEventListener('focus', event => {
		liens[i].parentNode.parentNode.parentNode.classList.add("hover");
	});
	liens[i].addEventListener('blur', event => {
		liens[i].parentNode.parentNode.parentNode.classList.remove("hover");
	});
	liens[i].addEventListener('click', event => {
		linkValue = liens[i].href;
{% if site.matomo %}
		_paq.push(["trackEvent", "Isotope", "Lien", linkValue]);
{% endif %}
	});
});

// Window resize
window.addEventListener('resize', iso.layout() );


</script>
