@use "rem.convert";
@use 'base';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

body {
  background: #f2f2f2;
  font-family: $font-stack;
  margin: 0;
  padding: rem.convert(14) rem.convert(30);
  @include media("<=xs") {
    padding: rem.convert(15)
  }
}
header {
  padding: rem.convert(10) 0;
  h1 {
    background: #000;
    color: #fff;
    font-weight: normal;
    font-size: rem.convert(42);
    display: inline-block;
    padding: rem.convert(2) rem.convert(4);
    margin: rem.convert(5) 0;
    min-width: rem.convert(29);
    height: rem.convert(44);

    @include media("<=s") {
        font-size: rem.convert(34);
    }

    &:before {
      speak: none;
      content: "Bonne année\00a!";
      animation-name: titre;
      animation-duration: 10s;
      animation-timing-function: ease;
      margin-right: rem.convert(-20);
      box-shadow: 0 3px 3px rgba(0,0,0,0.7),0 3px 9px rgba(0,0,0,0.2);
    }
    .cursor {
      speak: none;
      opacity: 1;
      animation-name: curseur;
      animation-duration: .7s;
      animation-timing-function: ease;
      animation-iteration-count: infinite
    }
  }
  p {
    padding: rem.convert(2) rem.convert(4);
    margin: 0
  }
}

.panel {
    padding: rem.convert(10) 0;
    margin: 0;
    text-align: right;

    position: absolute;
    top: rem.convert(12);
    right: rem.convert(30);

    @include media("<=s") {
        position: static;
        text-align: center;
        padding: 0;
    }

    fieldset {
        border: none;
        padding: 0;
        margin: rem.convert(8) 0;
    }
    legend {
        float: right;
        padding-left: rem.convert(10);
        @include media("<=s") {
            float: left;
            padding-left: 0;
            padding-right: rem.convert(10);
        }
    }
    input {
        position: absolute;
        opacity: 0;
    }
    label {
        &:hover, &:focus {
            color: #aaa;
            border-bottom: 1px solid #aaa;
            outline: none;
        }
    }
    input:checked + label {
        font-weight: bold;
        text-decoration: underline;
    }

}

.grid {
    margin: 0 rem.convert(-10);
}

.grid-item {
    display:inline-block;
    margin: 10px;
    background: #fff;
    position: relative;
    text-decoration: none;

    width: 20%;
    width: calc(20% - 20px );

    @include media("<=l") {
        width: 25%;
        width: calc(25% - 20px );
    }
    @include media("<=m") {
        width: 33.33%;
        width: calc(33.33% - 20px );
    }
    @include media("<=s") {
        width: 50%;
        width: calc(50% - 20px );
    }
    @include media("<=xs") {
        width: 100%;
        width: calc(100% - 20px );
    }
}

.card {
    position: relative;
    transition: all (0.06 + s) ease-out;
    &:before {
        display: inline-block;
        height: 100%;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        top: 0;
        height: 100%;
        background: linear-gradient(to top, #333 0%, #666 10px);
        transition:all ((0.06*1.3) + s) ease-out;
        box-shadow: 0 3px 3px rgba(0,0,0,.7),0 3px 9px rgba(0,0,0,.2);
    }
   
    h2 a::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: box-shadow .2s ease 0s;
    }
    figure {
        width: 100%;
        display: block;
        margin: 0;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        video {
            width: 100%;
        }
    }
    video {
        width: 100%;
        height: auto;
        display: block;
    }
    .card-body {
        opacity: 1;
        transition: opacity .5s ease 0s;
        display: flex;
        flex-direction: column;
    }
    div.top {
        flex: 1 1 0%;
        padding: rem.convert(15);
        align-content: flex-end;
        z-index: 42;
        @include media("<=xs") {
            padding-bottom: rem.convert(5);
        }
    }
    div.bottom {
        background: #fff;
        padding-top: rem.convert(10);
        @include media("<=xs") {
            padding-bottom: rem.convert(5);
        }
    }
    p.channel {
        padding: 0;
        margin-bottom: rem.convert(-29);;
        &:before {
            display: flex;
            background: #000;
            color: #fff;
            text-decoration: none;
            width: rem.convert(30);
            height: rem.convert(30);
            border-radius: rem.convert(30);
            justify-content: center;
            align-items: center;
            text-rendering: optimizeLegibility;
            font-smoothing: antialiased;
        }
    }
    h2, p {
        padding: rem.convert(5) rem.convert(15);
        margin: 0;
        line-height: .9;
    }
    h2 {
        a {
            color: #fff;
            text-decoration: none;
            span {
                position: relative;
                z-index: 42;
            }
            &:hover, &:focus {
                outline: none;
            }
        }
    }
    h2 + p {
        @include media(">l") {
            display: none;
        }
    }
    time {
        padding: 0 rem.convert(15) rem.convert(15) rem.convert(15);
        color: #fff;
        zoom: 1;
        opacity: 0;
        transform: translate(translate(0, 15px))
    }
    .tag { 
        text-rendering: optimizeLegibility;
        font-smoothing: antialiased;
        float: right;
        margin-right: 4px;
        opacity: 0;
        &:before {
            color: #000;
            content: "#";
            float: left;
            padding-right: 2px;
        }
    }

    figure + .card-body {
        position: absolute;
        top: rem.convert(15);
        left: rem.convert(15);
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        opacity: 0;
        h2 a {
            color: #000;
            span {
                zoom: 1;
                opacity: 0;
                transform: translate(0, 15px);
            }
            &::after {
                top: -15px;
                left: -15px;
                width: calc(100% + 30px);
                height: calc(100% + 30px);
            }
        }
        time {
            color: #000;
        }

        @include media("<=s") {
            position: static;
            width: 100%;
            height: auto;
            opacity: 1;
            p.channel {
                margin-bottom: 0;
            }
            h2 a span {
                opacity: 1;
                transform: translate(0, 0);
            }
            time, .tag {
                opacity: 1;
            }
        }
    }

    h2 a:focus {
        overflow: hidden;
        span {
            zoom: 1;
            opacity: 1;
            transform: translate(0, 0);
            transition: all .3s .1s cubic-bezier(.455, .03, .515, .955);

            @include media("<=s") {
                text-decoration: underline;
            }
        }
    }

    &:hover, &.hover {
        transform: translateY(-10px);
        &:before {
            top: 10px;
            box-shadow: 0 1px 0 2px rgba(0,0,0,.3), 0 5px (10*.4+px) rgba(0,0,0,.5), 0 (10*1.8+px) 9px rgba(0,0,0,.2);
        }
        time, .tag {
            zoom: 1;
            opacity: 1;
            transform: translate(translate(0, 0));
            transition:all .4s .2s cubic-bezier(.455, .03, .515, .955);
        }
        figure + .card-body {
            opacity: .9;
            h2 a span {
                zoom: 1;
                opacity: 1;
                transform: translate(0, 0);
                transition: all .3s .1s cubic-bezier(.455, .03, .515, .955);

                @include media("<=s") {
                    text-decoration: underline;
                }
            }
        }
    }

// Blog
    &.blog {
        .card-body {
            p.channel:before {
                background: #fff;
                color: #000;
                content:"6x8";
            }
            .tag:before {
                color: $blog-color;
            }
        }
        figure + .card-body {
            p.channel:before {
                background: $blog-color;
                color: #fff;
            }
        }
        figure + .card-body {
            h2 a span {
                &:hover, &:focus {
                    color: $blog-color;
                }
            }
        }
    }

// Twitter
    &.twitter {
        .card-body {
            p.channel:before {
                content:"\f099";
                background: #fff;
                color: $twitter-color;
                font-family: $font-brands;
            }
        }
        figure + .card-body {
            p.channel:before {
                background: $twitter-color;
                color: #fff;
            }
        }
        figure + .card-body {
            h2 a span {
                &:hover, &:focus {
                    color: $twitter-color;
                }
            }
        }
    }

// Mastodon
    &.mastodon {
        .card-body {
            p.channel:before {
                content:"\f4f6";
                background: #fff;
                color: $mastodon-color;
                font-family: $font-brands;
            }
            .tag:before {
                color: $mastodon-color;
            }
        }
        figure + .card-body {
            p.channel:before {
                background: $mastodon-color;
                color: #fff;
            }
        }
        figure + .card-body {
            h2 a span {
                &:hover, &:focus {
                    color: $mastodon-color;
                }
            }
        }
    }


// Instagram
    &.instagram {
        .card-body {
            p.channel:before {
                background: $instagram-color;
                font-family: $font-brands;
                content:"\f16d";
            }
        }
        figure + .card-body {
            h2 a span {
                &:hover, &:focus {
                    color: $instagram-color;
                }
            }
        }
    }

// Pixelfed
    &.pixelfed {
        .card-body {
            p.channel:before {
                content:'';
                background-image: url('../../images/pixelfed.svg');
                background-size: 30px 30px;
                background-color: rgba(255,255,255,.5);
            }
            .tag:before {
                color: $pixelfed-color;
            }
        }
        figure + .card-body {
            h2 a span {
                &:hover, &:focus {
                    color: $pixelfed-color;
                }
            }
        }
    }

}

footer {
    margin-top: rem.convert(100);
    border-top: 1px solid #999;
    text-align: center;
    @include media("<=xs") {
        margin-top: rem.convert(50);
    }
    p {
        margin: rem.convert(20) 0;
    }
    ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: rem.convert(20) 0;
        margin:1.25rem 0;
    }
    li {
        display:inline-block;
        padding: 0;
        margin: 0 rem.convert(20);
        position:relative;
        vertical-align: top;
        @include media("<=xs") {
            margin-top: 0 rem.convert(10);
        }
        a {
            text-decoration:none;
            &:before {
                display: flex;
                background: #000;
                color: #fff;
                width: rem.convert(30);
                height: rem.convert(30);
                border-radius: rem.convert(30);
                justify-content: center;
                align-items: center;
                text-rendering: optimizeLegibility;
                font-smoothing: antialiased;
            }
            &:hover:before, &:focus:before {
                box-shadow: 0 0 rem.convert(15) rgba(0,0,0,0.2);
            }
            &.facebook {
                &:before {
                    font-family: $font-brands;
                    content: '\f39e';
                }
                &:hover:before, &:focus:before {
                    background: $facebook-color;
                }
            }
            &.twitter {
                &:before {
                    font-family: $font-brands;
                    content: '\f099';
                }
                &:hover:before, &:focus:before {
                    background: $twitter-color;
                }
            }
            &.mastodon {
                &:before {
                    font-family: $font-brands;
                    content: '\f4f6';
                }
                &:hover:before, &:focus:before {
                    background: $mastodon-color;
                }
            }
            &.instagram {
                &:before {
                    font-family: $font-brands;
                    content: '\f16d';
                }
                &:hover:before, &:focus:before {
                    background: $instagram-color;
                }
            }
            &.pixelfed {
                &:before {
                    content: '';
                    background-image: url('../../images/pixelfed-black.svg');
                    background-size: 30px 30px;
                    background-color: transparent;
                }
                &:hover:before, &:focus:before {
                    background-image: url('../../images/pixelfed.svg');
                }
            }
            &.linkedin {
                &:before {
                    font-family: $font-brands;
                    content: '\f0e1';
                }
                &:hover:before, &:focus:before {
                    background: $linkedin-color;
                }
            }
            &.github {
                &:before {
                    font-family: $font-brands;
                    content: '\f09b';
                }
                &:hover:before, &:focus:before {
                    background: $github-color;
                }
            }
            &.blog {
                &:before {
                    content: '6x8';
                }
                &:hover:before, &:focus:before {
                    background: $blog-color;
                }
            }
        }
    }
}
