<!DOCTYPE html>
<html lang="{{ site.isolang }}" itemscope itemtype="http://schema.org/WebPage">

{% include head.html %}

<header>
	<h1>
		<span class="sr-only">{{ page.title }}</span>
		<span class="title" aria-hidden="true"></span>
		<span class="cursor" aria-hidden="true">_</span>
	</h1>
	<p class="baseline">{{ page.description }}</p>
</header>

<main>
	<article id="content" data-sel="all" data-sort="date">
		<div class="panel" role="toolbar" aria-label="Filtrer" aria-controls="grid">
			<fieldset>
				<legend><span role="image" aria-label="Trier">📅</span></legend>
				<input type="radio" id="date" name="sort" value="date" tabindex="-1" checked>
				<label for="date" tabindex="0">Par date</label>
				<span aria-hidden="true">/</span>
				<input type="radio" id="random" name="sort" value="random" tabindex="-1">
				<label for="random" tabindex="0">Aléatoire</label>
			</fieldset>
			<fieldset>
				<legend><span role="image" aria-label="Filtrer par tags">🏷️</span></legend>
				<input type="radio" id="alltags" name="tag" value="all" tabindex="-1" checked>
				<label for="alltags" tabindex="0">Tout</label>
{% for tag in page.tags %}
				<span aria-hidden="true">/</span>
				<input type="radio" id="{{ tag.value }}" name="tag" value="{{ tag.value }}" tabindex="-1">
				<label for="{{ tag.value }}" tabindex="0">{{ tag.label }}</label>
{% endfor %}
			</fieldset>			
			<fieldset>
				<legend><span role="image" aria-label="Filtrer par provenance">📢</span></legend>
				<input type="radio" id="allchannels" name="channel" value="all" tabindex="-1" checked>
				<label for="allchannels" tabindex="0">Tout</label>
{% for channel in page.channels %}
				<span aria-hidden="true">/</span>
				<input type="radio" id="{{ channel.value }}" name="channel" value="{{ channel.value }}" tabindex="-1">
				<label for="{{ channel.value }}" tabindex="0">{{ channel.label }}</label>
{% endfor %}
			</fieldset>	
		</div>
		<div class="grid" id="grid" data-sel="all" data-tri="date">
{% for item in page.items %}
  {%- if forloop.index > 6 -%}
    {%- assign lazyLoad = 'loading="lazy" ' -%}
  {%- else -%}
    {%- assign lazyLoad = '' -%}
  {%- endif -%}
			<div class="grid-item card{% for tag in item.tags %} {{ tag.value }}{% endfor %}" data-date="{{ item.date | date: "%Y-%m-%d" }}">
	{% if item.image %}
				<figure aria-labelledby="h2-{{ forloop.index }}" {% if item.description != "" %}aria-describedby="p-{{ forloop.index }}"{% endif %}>
		{% capture extension %}{{ item.image | slice: -3, 3 }}{% endcapture %}
		{% if extension == "mp4" %}
			{% if item.image contains "https" %}
					<video {{ lazyLoad }}type="video/mp4" loop="true" muted="true" autoplay="true" preload="auto" src="{{ item.image}}" width="{{ item.width }}" height="{{ item.height }}">
			{% else %}
					<video {{ lazyLoad }}type="video/mp4" loop="true" muted="true" autoplay="true" preload="auto" src="{{ item.image | prepend: 'images/' }}" width="{{ item.width }}" height="{{ item.height }}">
			{% endif %}
		{% else %}
			{% if item.image contains "https" %}
				{% if item.image contains "www.6x8" %}
					{% if item.image contains ".netlify" %}
		            <picture>
		              <source srcset="{{ item.image | replace:'format=jpg','format=webp' }}" type="image/webp">
		              <img {{ lazyLoad }}src="{{ item.image }}" alt="{{ item.alt }}" width="{{ item.width }}" height="{{ item.height }}">
		            </picture>
					{% else %}
		            <picture>
		              <source srcset="{{ item.image | replace:'jpg','webp' | replace:'jpeg','webp' }}" type="image/webp">
		              <img {{ lazyLoad }}src="{{ item.image }}" alt="{{ item.alt }}" width="{{ item.width }}" height="{{ item.height }}">
		            </picture>
		            {% endif %}
				{% else %}
					<img {{ lazyLoad }}src="{{ item.image }}" alt="{{ item.alt }}" width="{{ item.width }}" height="{{ item.height }}">
				{% endif %}
			{% else %}
					<img {{ lazyLoad }}src="{{ item.image | prepend: 'images/' }}" alt="{{ item.alt }}" width="{{ item.width }}" height="{{ item.height }}">
			{% endif %}
		{% endif %}
				</figure>
	{% endif %}
				<div class="card-body">
					<div class="top">
						<p class="channel"><span class="sr-only" aria-label="{{ item.tags[0].label }}">{{ item.tags[0].label }}</span></p>
					</div>
					<div class="bottom">
						<h2 id-"h2-{{ forloop.index }}"><a href="{{ item.link }}" target="_blank" title="{{ item.title | strip_html }} (nouvelle fenêtre)" aria-label="{{ item.title | strip_html }} (nouvelle fenêtre)" tabindex="0"><span>{{ item.title }}</span></a></h2>
	{% if item.description != "" %}
						<p id-"p-{{ forloop.index }}">{{ item.description }}</p>
	{% endif %}
						<time datetime="{{ item.date }}">{{ item.date | date: "%d %b %y" }}</time>
	{% for tag in item.tags offset:1 %}
						<span class="tag">{{ tag.label }}</span>
	{% endfor %}
					</div>
				</div>
			</div>
{% endfor %}
		</div>
	</article>
</main>

{% include foot.html %}

</body>
</html>
